{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-spread"
  ],
  "ignore": [
    "src/lib/**"
  ]
}
